@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: xx-large;
}

h2 {
  font-size: x-large;
}

ul {
  list-style: circle;
  margin-left: 25px;
}

hr {
  border: 1px solid black;
}

.rob-dog-box {
  border: 3px solid grey;
  border-radius: 10px;
  padding: 20px;
  text-align: left;
  max-width: 450px;
  margin: 5px;
}

.request-walk-form {
  border: 3px solid grey;
  border-radius: 10px;
  padding: 20px;
  text-align: left;
  max-width: 450px;
  margin: 5px;
}

.request-walk-form input,
select,
textarea {
  border-radius: 10px;
  border: 3px solid indigo;
  padding: 5px;
  margin: 5px;
}

.title-header {
  padding: 20px;
  justify-content: center;
  text-align: center;
}

#to-do-list {
  text-align: left;
}

#main {
  justify-content: center;
  text-align: center;
}

.inner-main {
  width: auto;
}

.submit-button {
  cursor: pointer;
  background: indigo;
  color: white;
}

input .submit-button :hover {
  color: white;
  background-color: black;
}

#available-slots-div {
}

#about-me {
  text-align: left;
}

a {
  color: blue;
}

.left-align {
  text-align: left;
}

.circle-picture {
  border-radius: 50%;
}

.rounded-picture {
  border-radius: 5%;
}

b {
  color: indigo;
}

.dog-training-advice-table,
.dog-training-advice-table td {
  border: 1px solid black;
  padding: 5px;
}

.testimony {
  text-align: left;
  max-width: 1000px;
}
